.open-sans-normal{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.mcolor{
    background-color: #F1F1F3;
}
.newbd{
    background-color: #006A50;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 34px 10px;
    width: 200px;
    height: 56px;
    text-align: center;
}
.two{
font-size: 24px;
font-weight: 300px;
}
.three{
    font-size: 40px;
    font: bolder;
    text-align:left;
}
.ban{
    display: flex;
    background-color: #C6E4D6;
    border-radius: 24px;
    padding-left: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 117px 64px 117px 60px
}
.hero{
    margin: 80px 60px 64px 80px;
    padding-right: 0px;
}
.future{
    margin-left: 80px;
    margin-right: 50px;
}
.futureh4{
    font-size: 40px;
}
.futurep{
    font-size: 16px;
}
.main{
    display: flex;
    gap: 24px;
}
.fdiv{
    border: 1px solid;
    border-radius: 16px;
    background-color: #81B4FC;
    width: 410px;
    margin-left: 80px;
    padding-left: 32px;
    padding-right: 32px;
}
.sdiv{
    border: 1px solid;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 16px;
    background-color: #C6E4D6;
}
.tdiv{
    border: 1px solid;
    margin-right: 50px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 16px;
    background-color: #F7EBCF;
}
.GE{
    font-size: 20px;
    font-weight:bold;
}
.GEDESC{
    font-size: 16px;
}
.bt1{
    background-color: #5490F5;
    color: white;
    margin-bottom: 30px;
}
.bt2{
    background-color: #09A15C;
    color: white;
    margin-bottom: 30px;
}
.bt3{
    background-color: #FFC239;
    color: white;
    margin-bottom: 30px;
}
.light{
    margin-top: 32px;
}
.News{
    margin-left: 80px;
    margin-right: 80px;
}
.newsfont{
    font-size: 40px;
    margin-bottom: 24px;
}
.newsp{
    font-size: 16px;
}
.sat{
    border: 1px solid #A1A1FF;
    margin-left: 80px;
    border-radius: 24px; 
    display: flex;
    margin-right: 80px;
    
}
.bts{
    background-color: #006A50;
    color: white;
}
.ccc{
    flex-wrap: wrap;
    margin-left: 32px;
    margin-right: 80px;
}
.sun{
    border: 1px solid #A1A1FF;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 24px; 
    display: flex;
    margin-top: 24px;
    
}
.donh4{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.donp{
    font-size: 16px;
    text-align: center;
}
.donate{
    margin-left: 80px;
    margin-right: 80px;
}
.fourbuttons{
    font-size: 40px;
    font-weight: bold;
    display: flex;
    margin-left: 80px;
    gap: 24px;
}
.taka100{
    border: 1px solid white;
    border-radius: 16px;
    background-color: white;
    width: 240px;
    height: 128px;
    padding: 30px;
    text-align: center;
}
.taka200{
    border: 1px solid white;
    border-radius: 16px;
    background-color: #C6E4D6;
    width: 240px;
    height: 128px;
    padding: 30px;
    text-align: center;
}
.taka300{
    border: 1px solid white;
    border-radius: 16px;
    background-color: white;
    width: 240px;
    height: 128px;
    padding: 30px;
    text-align: center;
}
.taka400{
    border: 1px solid white;
    border-radius: 16px;
    background-color: white;
    width: 240px;
    height: 128px;
    padding: 30px;
    text-align: center;
    margin-right: 80px;
}
.plc{
    margin-left: 80px;
    margin-top: 32px;
    width: 1090px;
    text-align: center;
}
.divbtn{
    text-align: center;
    margin-top: 32px;  
}
.dbtn{
    background-color: #006A50;
    color: white;
    border-radius: 8px;
    padding: 17px 34px 17px 34px;
}
.foot{
    font-size: 32px;
    text-align: center;
    margin-top: 80px;
}
.footimg{
    display: flex;
    gap: 20px;
    justify-content: center;  
}
.yunus{
    margin-top: 32px;
    margin-left: 80px;
    margin-right: 80px;
    border: 1px solid white;  
    border-radius: 16px;
    background-color: white;
    padding: 48px 24px 48px 24px;
    
}
